.login-link-wrapper {
  margin-top: 30px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;

  &__link {
    button {
      background-color: $dark-teal;
      width: 15%;
      border: none;
      border-radius: 8px;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
    }
  }
}
